.sectionOne {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-image: url(https://sites.7chairs.org//uploads/groupApproved/2019/06/540-image-JVkKd55J.jpg);
  background-size: cover;
  
}

.exploreButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionOnepage2 {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-image: url(https://sites.7chairs.org//uploads/groupApproved/2019/06/540-image-JVkKd55J.jpg);
    background-size: cover;
  }

.transparency {
  Opacity: 0.2;
}

.title-color {
  color: #000000
}

.logo {
    height: 100px;
    border-radius: 100px;
}

.navBar {
    display: flex; 
    height: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  ul {
    font-family: 'Source Sans Pro', sans-serif;
    list-style-type: none;
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
  }

nav a {
  text-decoration: none;
  color: #444444;
}

nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

.sectionOne h1, .locationsSection h1, .pollSection h1, .contact h1, .sectionOnepage2 h1 {
  color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin-left: auto;
  margin-right:auto;
}

.locationsSection h4 {
  color: #444444;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  margin-top: 0;

}

.sectionOne p, .contact p, footer p, .sectionOnepage2 p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #444444;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  word-wrap: normal;
}

.locationsSection {
    background-color: #ECFBFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.locations {
 background-color: #ECFBFC;
 display: flex;
 flex-direction: row;
 justify-content:space-evenly; 
 align-items: center;
 padding: 20px;
}

@media only screen and (max-width:700px) {
  .locations {
   flex-direction: column;
  }

  nav a {
    font-size: 10px;
  }

  .sectionOne p, .contact p, footer p, .sectionOnepage2 p {
    font-size: 14px;
  }

  .sectionOne h1, .locationsSection h1, .pollSection h1, .contact h1, .sectionOnepage2 h1 {
    font-size: 24px;
  }

  .locationsSection h4 {
    font-size: 16px;
  }

  .sectionOne {
    height: 450px;
  }

  .sectionOnepage2 {
    height: 300px;
  }
}

.locationImages {
    width: 15rem;
    height: 15rem;
    border-radius: 20%;
    padding: 5%;
}

.locationImages:hover {
    filter: brightness(.5);
}

.pollSection {
 background-color:#FFEBD9;
 display: flex;
 flex-direction: column;
 margin-left: auto;
 margin-right:auto;
 justify-content: center;
 align-items: center;
 padding: 20px;
}

.contact {
  padding: 10px;
  background-color: #FFC8BD;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;

}

form input, form textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

button {
    width: 100px;
    background-color: #B3B3B3;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #B3B3B3;
    height: 150px;
    padding: 25px;
}

footer ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

hr {
    height: 1px;
    width: 20%;
    background: #fff;
}
